/node_modules
/build
*coverage
__test__/*-report.html
.env
.vscode
output*
*.txt
!requirements.txt
.nyc_output/
*__pycache__/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml