/node_modules
/build
coverage
__test__/coverage
__test__/test-report.html
.env
.vscode
output*
*.txt
*__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml