h1 Hi #{first_name},
p To reset your password for OnBoard, please click the following link:
a(href=`${url}`) #{url}
p If you don't want to reset your password, you can ignore this message - someone probably typed in your username or email address by mistake.
p Thanks!